In [2]:
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [7]:
ls

 Volume in drive C is Local Disk
 Volume Serial Number is D079-03A9

 Directory of C:\Users\yangc\Documents\python\Hippo\2014

04/08/2017  04:34 AM    <DIR>          .
04/08/2017  04:34 AM    <DIR>          ..
04/08/2017  04:33 AM    <DIR>          .ipynb_checkpoints
04/08/2017  04:31 AM            63,127 assistance.csv
04/08/2017  04:34 AM             1,757 Fundling2014.ipynb
04/08/2017  04:31 AM         1,405,180 subaward.csv
               3 File(s)      1,470,064 bytes
               3 Dir(s)  363,391,348,736 bytes free

In [4]:
location=r'C:/Users/yangc/Documents/python/Hippo/2015/assistance2015.csv'
#df = pd.read_csv(location,dtype={'ALL_MTH00NUMVALID_1415':str,'ALL_MTH00PCTPROF_1415':str})
df = pd.read_csv(location)

In [5]:
df.head(1)

   total_funding_amount principal_place_state  fiscal_year
0              -2826542               FLORIDA         2015

In [10]:
ass15=df.groupby(['principal_place_state']).sum()

In [67]:
location=r'C:/Users/yangc/Documents/python/Hippo/2015/assistance2015.csv'
#df = pd.read_csv(location,dtype={'ALL_MTH00NUMVALID_1415':str,'ALL_MTH00PCTPROF_1415':str})
df = pd.read_csv(location)
ass15=df.groupby(['principal_place_state']).sum()
ass15.to_excel('ass15.xlsx')
ass15=pd.read_excel('ass15.xlsx')
ass15=ass15.set_index(['principal_place_state'])

ass14
location=r'C:/Users/yangc/Documents/python/Hippo/2014/assistance2014.csv'
#df = pd.read_csv(location,dtype={'ALL_MTH00NUMVALID_1415':str,'ALL_MTH00PCTPROF_1415':str})
df = pd.read_csv(location)
ass14=df.groupby(['principal_place_state']).sum()
ass14.to_excel('ass14.xlsx')
ass14=pd.read_excel('ass14.xlsx')
ass14=ass14.set_index(['principal_place_state'])


ass13
location=r'C:/Users/yangc/Documents/python/Hippo/2013/assistance2013.csv'
#df = pd.read_csv(location,dtype={'ALL_MTH00NUMVALID_1415':str,'ALL_MTH00PCTPROF_1415':str})
df = pd.read_csv(location)
ass13=df.groupby(['principal_place_state']).sum()
ass13.to_excel('ass13.xlsx')
ass13=pd.read_excel('ass13.xlsx')
ass13=ass13.set_index(['principal_place_state'])


ass14

                       total_funding_amount  fiscal_year
principal_place_state
ALABAMA                             2563301         2014
ALASKA                               744842         2014
ARIZONA                             1635511         6042
ARKANSAS                            1638892         2014
CALIFORNIA                         18410701         2014
COLORADO                            1823481         2014
CONNECTICUT                          968458         4028
DELAWARE                             684007         6042
DISTRICTOFCOLUMBIA                   693044         4028
FLORIDA                             7424860         4028
GEORGIA                             5563291         4028
HAWAII                               744842         2014
IDAHO                                744842         2014
ILLINOIS                            5226170         2014
INDIANA                             2673251         6042
IOWA                                 625877         6042
KANSAS                              1075278         2014
KENTUCKY                            2167925         2014
LOUISIANA                           2589629         6042
MAINE                                743556         4028
MARYLAND                            1516049         2014
MASSACHUSETTS                       1759808         8056
MICHIGAN                            4615712         2014
MINNESOTA                           1461299         2014
MISSISSIPPI                         1691481         6042
MISSOURI                            2518642         2014
MONTANA                              744842         2014
NEBRASKA                             744842         2014
NEVADA                              1247015         2014
NEWHAMPSHIRE                         744842         2014
NEWJERSEY                           2562663         2014
NEWMEXICO                           1211047         2014
NEWYORK                             8085104         6042
NORTHCAROLINA                       4646423         6042
NORTHDAKOTA                          744842         2014
OHIO                               -3154089         6042
OKLAHOMA                            1790153         2014
OREGON                              1533345         2014
PENNSYLVANIA                        4335338         4028
PUERTORICO                          4209767         4028
RHODEISLAND                          663015         4028
SOUTHCAROLINA                       1915590         6042
SOUTHDAKOTA                          744842         2014
TENNESSEE                           1644026         4028
TEXAS                              14820988         4028
UTAH                                1083965         4028
VERMONT                              744842         4028
VIRGINIA                            2322452         2014
WASHINGTON                          2305524         2014
WESTVIRGINIA                         772547         2014
WISCONSIN                           1929961         2014
WYOMING                              709998         6042

In [64]:
ass15

                           total_funding_amount  fiscal_year
principal_place_state
ALABAMA                                 2594282         2015
ALASKA                                   759767         2015
ARIZONA                                 3665701         2015
ARKANSAS                                1681918         2015
CALIFORNIA                             18584702         2015
COLORADO                                1763673         2015
CONNECTICUT                              985653         2015
DELAWARE                                 759767         2015
DISTRICT OF COLUMBIA                     759767         2015
FLORIDA                                -2826542         2015
FLORIDA                                 8579427         2015
GEORGIA                                 5638551         2015
HAWAII                                   759767         2015
IDAHO                                    759767         2015
ILLINOIS                                5406066         2015
INDIANA                                 2867397         2015
IOWA                                     982351         2015
KANSAS                                  1067016         2015
KENTUCKY                                2169082         2015
LOUISIANA                               2694005         2015
MAINE                                    759767         4030
MARYLAND                                1519053         2015
MASSACHUSETTS                           1939622         2015
MICHIGAN                                4450301         2015
MINNESOTA                               1511319         4030
MISSISSIPPI                             2159073         2015
MISSOURI                                2571416         2015
MONTANA                                  759767         2015
NEBRASKA                                 759767         2015
NEVADA                                  1260287         2015
NEW HAMPSHIRE                            759767         2015
NEW JERSEY                              2821654         2015
NEW MEXICO                              1313318         2015
NEW YORK                                8434328         2015
NORTH CAROLINA                          4889596         2015
NORTH DAKOTA                             759767         2015
OHIO                                    5044869         2015
OKLAHOMA                                1833091         2015
OREGON                                  1493417         2015
PENNSYLVANIA                            4329826         2015
PUERTO RICO                             4308795         2015
RHODE ISLAND                             759767         2015
SOUTH CAROLINA                          2462886         2015
SOUTH DAKOTA                             759767         2015
TENNESSEE                               3291242         2015
TEXAS                                  15163102         2015
UTAH                                    1084984         2015
VERMONT                                  759767         2015
VIRGINIA                                2413474         2015
WASHINGTON                              2494356         2015
WEST VIRGINIA                            816651         2015
WISCONSIN                               1991122         2015
WYOMING                                  759767         2015

In [69]:
location=r'C:/Users/yangc/Documents/python/Hippo/2013/subaward2013.csv'
#df = pd.read_csv(location,dtype={'ALL_MTH00NUMVALID_1415':str,'ALL_MTH00PCTPROF_1415':str})
df = pd.read_csv(location)
df.head(1)
sub13=df.groupby(['prime_award_principal_place_state']).sum()

location=r'C:/Users/yangc/Documents/python/Hippo/2014/subaward2014.csv'
#df = pd.read_csv(location,dtype={'ALL_MTH00NUMVALID_1415':str,'ALL_MTH00PCTPROF_1415':str})
df = pd.read_csv(location)
df.head(1)
sub14=df.groupby(['prime_award_principal_place_state']).sum()

location=r'C:/Users/yangc/Documents/python/Hippo/2015/subaward2015.csv'
#df = pd.read_csv(location,dtype={'ALL_MTH00NUMVALID_1415':str,'ALL_MTH00PCTPROF_1415':str})
df = pd.read_csv(location)
df.head(1)
sub15=df.groupby(['prime_award_principal_place_state']).sum()

In [70]:
pd.concat([sub13,sub14,sub15],axis=1,join='inner')

,prime_award_amount,prime_award_fiscal_year,prime_award_amount,prime_award_fiscal_year,prime_award_amount,prime_award_fiscal_year
prime_award_principal_place_state,,,,,,
FL,203006700,50300,196555150,50325,4475889084,1057464
MA,5121948,6036,61222214,72449,56984054,66442

In [71]:
a=pd.concat([ass13,ass14,ass15],axis=1)
a.to_excel('fund.xlsx')